html {
    font-size:62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* end of common styles */

/* navbar */
/* sidebar */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon:hover .line{
    width: 2.5rem;
}

.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.social-link {
    font-size: 2rem;
    color: #777;
    transition: color .3s;
}

.social-link:hover {
    color: #deaa86;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color:#555;
}
/* end of sidebar */

/* navigation */
.navigation {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34,
    32,41,1),rgba(34,32,41,.8)), url(../resources/images/cover1.jpg) center
    no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    transition: left .8s cubic-bezier(1,0,0,1);
}

.navigation-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #deaa86;
    text-align: center;
}

.navigation-list {
    list-style: none;
    padding:0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
}

.navigation-link::before {
    content:"";
    width: 0rem;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}

.navigation-link::after {
    content:"";
    width: 0rem;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}

.navigation-link:hover {
    color: #deaa86;
}

.navigation-link:hover::before {
    width: 3rem;
}

.navigation-link:hover::after {
    width: 3rem;
}

.copyright {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem;
}

/* end of navigation */
/* end of navbar */ 

/* header */
.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,
    .6),rgba(0,0,0,.5)), url(../resources/images/cover2.jpg) center no-repeat;
    background-size: cover;
}

.profile {
    padding-top: 1rem;
    display: flex;
    cursor: pointer;
}

.profile-heading {
    padding-top: -4rem;
    padding-left: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: #f6f4f2;
    letter-spacing: .2rem;
}

.banner {
    color: #ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph{
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}

.banner-button{
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, gold,
    goldenrod);
    cursor: pointer;
    animation: anim 1s 1s backwards;
}

.banner-button:hover {
    background: linear-gradient(to left, gold,
    goldenrod);
}

.banner-button:active {
    transform: translateY(.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* end of header */

/* about me */
.about-us {
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;
}

.about-us-content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;

}

.about-us-heading{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
}

.small-underline{
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: #b85d1c;
}
.big-underline{
    width: 20rem;
    height: .1rem;
    background-color: #b85d1c;
}

.sub-heading {
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color:#b85d1c;
}

.about-us-paragraph{
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}

.resume-btn{
    width: 15rem;;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    outline:none;
    cursor: pointer;
}

.btn-arrow {
    margin-left: .5rem;
    transition: margin-left .4s;
}

.resume-btn:hover .btn-arrow{
    margin-left: 1.5rem;
}




.about-us-images {
    flex:1 1; 
    position: relative;
}

.image {
    width: 32rem;
    position: absolute;
    top: 20%;
    left: 20%;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.8);
    border-radius: .4rem;
    border: .2rem solid #b85d1c;
}
/* end of about me */

/* common header */
.common-header{
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}
.common-heading {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.small-underline{
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: #b85d1c;
}
.big-underline{
    width: 20rem;
    height: .1rem;
    margin:auto;
    background-color: #b85d1c;
}
/* end of common header */

/* projects */
.projects {
    margin-left: 8rem;
}

.projects-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card{
    width: 60rem;
    height: 60rem;
    margin: 5rem;
    background-color: #15141b;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.3);
}

.project-img{
    width: 100%;
    height: 70%;
}

.project-card-content{
    color:#ddd;
    padding: 2rem;
}

.project-card-heading{
    margin:0;
    font-size: 3rem;
    font-weight: 300;
}
.project-card-paragraph{
    font-size: 1.5rem;
    color: #777;

}
.project-card-btn{
    width: 1rem;
    padding: 1rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    border-radius: 10rem;
    outline:none;
    cursor: pointer;
    margin-left: 1%;
    text-decoration: none;
}


.projects-btn-wrapper{
    text-align: center;
}

.projects-btn{
    width: 20rem;
    padding: 1.5rem 1rem;
    margin: 4rem 0;
    background-color: transparent;
    text-transform: uppercase;
    color: #b85d1c;
    border: .2rem solid #b85d1c;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1.5rem 6rem rgba(0,0,0,.2);
    transition: all .2s;
}

.projects-btn:hover {
    color: #ddd;
    background-color: #b85d1c;
}
/* end of projects */

/* footer */
.footer {
    margin-left: 8rem;
}

.main-part {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 4rem;
}

.footer-heading {
    font-size: 2.5rem;
    font-weight: 300;
    color:goldenrod;
    margin:1rem 0 3rem 0
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list-item {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color:#bbb;

}

.footer-list-link {
    font-size: 1.8rem;
    text-decoration: none;
    color:#bbb;
}

.gallery {
    max-width: 45rem;

}

.image-wrapper {
    width: 13rem;
    height: 11rem;
    margin:.4rem;
    overflow: hidden;
    
}

.footer-image {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .5s;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
}

.footer-image:hover {
    transform: scale(1.3);
    opacity: .8;
}

.creator-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 4rem;
}

.copyright-text {
    font-size: 1.3rem;
    color:#aaa;
}

.text-right{
    font-size: 1.4rem;
    color:#bbb
}

.text-right i {
    font-size: 2rem;
    margin: .5rem;
    color:tomato;
}

.text-right span {
    color:gold;
}
/* end of footer */

/* resume */
.resume {
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;
}


.resume-content {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.resume-heading{
   font-family: 'Josefin Sans',sans-serif;
   font-size: 4rem;
   font-weight: 300;
   text-transform: uppercase;
   color: #555;
}

.resume-sub-heading{
   font-size: 2.5rem;
   font-weight: 600;
   letter-spacing: .2rem;
   color:#b85d1c;
   text-align: center;
   text-transform: uppercase;
   text-decoration: underline;
}

.resume-details{
   font-size: 2rem;
   font-style: italic;
   font-weight: 300;
   text-align: center;
}

.institution-name{
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color:#b85d1c;
    text-align: center;
    text-transform: uppercase;

}

.job-title{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}



.lang-skill-list{
   font-size: 2rem;
   font-style: italic;
   font-weight: 300;
}

/* end of resume */

@media(max-width: 900px) {
    .banner {
        text-align: center;
    }
    .banner-heading {
        font-size: 4.7rem;
    }

    .banner-paragraph {
        font-size: 2.6rem;
    }

    .banner-button {
        width: 16rem;
        font-size: 1.5rem;
    }

    .about-us {
        flex-direction: column;
        padding-bottom: 38rem;
    }

    .about-us-images{
        /* margin:13rem; */
        margin-top: -5rem;
        flex:1 1; 
        position: relative;


    }

    .image {
        width: 25rem;
        left: 30%;
        position: absolute;
        
    }

    .main-part {
        display: flex;
        flex-direction: column;
    }
    
    .footer-list{
        display: flex;
    }

    .footer-list-item {
        margin-right: 3rem;
    }

    }

    @media(max-width: 700px) {
    .project-card-btn{
        width: 9rem;
        height: 5rem;
        font-size: .8rem;
        }

    .footer-list{
        display: block;
    } 
    
    .creator-part {
        flex-direction: column;
        text-align: center;
    }

    .copyright-text {
        order:1;
    }

    }

@media(max-width: 616px){
    .navigation {
        width: 28rem;
    }

    .about-us {
        padding-bottom: 19rem;
    }

    .image {
        width: 13rem;
        left: 35%;
        top:1rem;
    }

    .about-us-heading{
        font-size: 2.5rem;
        text-align: center;
    }
    .sub-heading {
        font-size: 2rem;
        text-align: center;
    }

    .about-us-content{
        padding:5rem;
    }

    .profile-heading{
        font-size: 2rem;
        margin: auto 0;
    }

    .banner {
        height: 100%;
        margin-top: -10rem;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

    .common-heading {
        font-size: 2rem;
    }

    .small-underline{
        width: 5rem;
    }

    .big-underline{
        width: 12rem;
    }

    .project-card-heading {
        font-size: 1.5rem;
    }

    .project-card{
        width: 40rem;
        height: 40rem;
        padding-bottom: 5rem;
        
    }

    .project-card-btn{
        width: 8rem;
        padding: 1rem .5rem;
        font-size: .8rem;
    }

    .main-part {
        padding:2rem;
    }

    .image-wrapper{
        width: 9rem;
    }

   
}

@media(max-width: 450px){   
    .project-card-btn{
        width: 6rem;
        height: 3rem;
        font-size: .8rem;
    }

    .project-card {
        width: 30rem;
        height: 30rem;
        padding-bottom: 5rem;
    }

    .project-card-heading {
        font-size: 1.2rem;
    }

    .project-card-paragraph{
        font-size: 1rem;
    
    }

    .image {
        left: 30%;
        top:1rem;
    }
    .resume-heading{
        font-size: 2.5rem;
     }
     
     .resume-sub-heading{
        font-size: 2rem;
     }
     
     .resume-details{
        font-size: 1.5rem;
       
     }
     
     .institution-name{
         font-size: 1.8rem;
     
     }
     
     .job-title{
         font-size: 1.5rem;
     }
     
     
     .lang-skill-list{
        font-size: 1.5rem;
     }
    
}



@media(max-width: 395px){   
    .project-card {
        width: 20rem;
        height: 20rem;
        padding-bottom: 7rem;
    }
    .project-card-heading {
        font-size: 1rem;
    }

    .project-card-paragraph{
        font-size: 0.8rem;
    
    }

    .project-card-btn{
        width: 1rem;
        height: 0.8rem;
        font-size: .6rem;
    }

    .image {
        left: 27%;
        top:1rem;
    }

    .navigation {
        width: 20rem;
    }
}

@media(max-width: 320px){  

    .project-card {
        width: 20rem;
        height: 20rem;
        padding-bottom: 6.5rem;
    }


    .project-card-btn{
        width: 0.8rem;
        padding: 0.5rem .2rem;
        height: 0.4rem;
        font-size: .4rem;
    }
    .image {
        left: 22%;
        top:1rem;
    }

}

